%% File: rebar.config
{erl_opts, [debug_info]}.
{deps, [   
 {sqlite3, {git, "https://github.com/processone/erlang-sqlite3", {tag, "1.1.13"}}}
]}.


%% eunit:test(Tests)
{eunit_tests, [{application,my_migrator}]}.
%% Options for eunit:test(Tests, Opts)
{eunit_opts, [verbose]}.
%% Additional compile options for eunit. erl_opts is also used
%% {eunit_compile_opts, [{d, some_define}]}.
%% {erl_first_files, ...} but for Eunit
%% {eunit_first_files, ["test/test_behaviour.erl"]}.



{apps, [my_migrator]}.

